name: Arduino compile test
on: [push, pull_request]

jobs:
  build-uno:
    name: AVR UNO board with Dragino LoRa
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v1.0.0

      - name: Install CubeCell core
        run: |
          arduino-cli core update-index
          arduino-cli core install arduino:avr@1.8.3

      - name: Prepare code and submodules
        run: |
          git submodule init
          git submodule update
          mv arduino_beehive_sensor_lora/credentials-template.h arduino_beehive_sensor_lora/credentials.h
          sed -i -e '/#define DEVICE_ID/s/KROKUS/TEST_123/' arduino_beehive_sensor_lora/arduino_beehive_sensor_lora.ino
          sed -i -e '/#define DEVICE_NAME/s/krokus/test_123/' arduino_beehive_sensor_lora/arduino_beehive_sensor_lora.ino

      - name: Compile examples
        run: |
          arduino-cli compile --fqbn=arduino:avr:uno  examples/LoRa-HelloWorld/LoRa-HelloWorld.ino
          arduino-cli compile --fqbn=arduino:avr:uno  examples/USB-Voltage/USB-Voltage.ino

      - name: Compile script
        run: |
          arduino-cli compile --fqbn=arduino:avr:uno  arduino_beehive_sensor_lora/arduino_beehive_sensor_lora.ino

  build-cubecell:
    name: Heltec CubeCell board
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v1.0.0

      - name: Install CubeCell core
        run: |
          arduino-cli core update-index
          arduino-cli core install CubeCell:CubeCell@1.1.0

      - name: Prepare code and submodules
        run: |
          git submodule init
          git submodule update
          mv arduino_beehive_sensor_lora/credentials-template.h arduino_beehive_sensor_lora/credentials.h

      - name: Compile examples
        run: |
          arduino-cli compile --fqbn=CubeCell:CubeCell:CubeCell-Board:LORAWAN_REGION=5,LORAWAN_CLASS=0,LORAWAN_NETMODE=0,LORAWAN_ADR=0,LORAWAN_UPLINKMODE=1,LORAWAN_Net_Reserve=0,LORAWAN_AT_SUPPORT=1,LORAWAN_RGB=1,LORAWAN_DebugLevel=0 examples/Heltec-PinMode/Heltec-PinMode.ino
          arduino-cli compile --fqbn=CubeCell:CubeCell:CubeCell-Board:LORAWAN_REGION=5,LORAWAN_CLASS=0,LORAWAN_NETMODE=0,LORAWAN_ADR=0,LORAWAN_UPLINKMODE=1,LORAWAN_Net_Reserve=0,LORAWAN_AT_SUPPORT=1,LORAWAN_RGB=1,LORAWAN_DebugLevel=0 examples/Heltec-ShiftIn/Heltec-ShiftIn.ino

      - name: Compile script
        run: |
          arduino-cli compile --fqbn=CubeCell:CubeCell:CubeCell-Board:LORAWAN_REGION=5,LORAWAN_CLASS=0,LORAWAN_NETMODE=0,LORAWAN_ADR=0,LORAWAN_UPLINKMODE=1,LORAWAN_Net_Reserve=0,LORAWAN_AT_SUPPORT=1,LORAWAN_RGB=1,LORAWAN_DebugLevel=0 arduino_beehive_sensor_lora/arduino_beehive_sensor_lora.ino
